/* Home.css */

.video-container {
  /* Add styles for the container that holds the video */
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 aspect ratio (9 / 16 * 100) */
}

.responsive-video {
  /* Add styles for the video itself */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: brightness(0.6); /* Darken the video background */
}

.video-text {
  /* Add styles for the text */
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Text color */
  font-size: 50px; /* Text size */
  font-weight: bold; /* Text weight */
  text-align: left; /* Text alignment */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Add text shadow for contrast */
  /* Add any additional styles for the text */
}

.centered-div {
  margin-left: 20%;
  margin-right: 20%;
}

.home-info 
{
  color: white;
}

