#editor h5 {
    color: rgb(233, 166, 52);
}

hr {
    border: none;
    border-top: 1px solid #cccccc;
    margin-top: 10px;
    margin-bottom: 20px;
}

.description {
    margin-left: 200px;
}

.description p {
    margin-bottom: 15px;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
