.separator {
    width: 75vw; /* Set the width to 75% of the viewport width */
    border-top: 1px solid #ffffff; /* Change color and thickness as needed */
}

.mainBack { /* ION shit Add a background color, padding, margin, border radius, box shadow, and text color */
    background-color: #333;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    color: white;
}

  