.separator {
    margin: 2rem;
    width: 70rem; /* Set the width to 75% of the viewport width */
    border-top: 1px solid #ffffff; /* Change color and thickness as needed */
}

.centered-div {
    display: flex;
    flex-direction:column;
    align-items: center;
  }

.centered-div-content-left-70 {
    width: 70rem; /* Set your desired width */
    margin: 0 auto; /* Center the div horizontally */
    text-align: left; /* Align content to the left */
    padding: 20px; /* Optional: Add padding for spacing */
}

.first-color {
    background-color: #1E1E1E;
}

.second-color {
    background-color: #262626;
}

.h-1 {
    height: 1rem;
}

.h-2 {
    height: 2rem;
}

.h-3 {
    height: 3rem;
}

.h-6 {
    height: 6rem;
}

.h-12 {
    height: 12rem;
}

.h-14 {
    height: 14rem;
}

.h-16 {
    height: 16rem;
}

.space-1rem {
    margin-top: 1rem;
}

.space-2rem {
    margin-top: 2rem;
}

.inline > * {
    display: inline-block; /* or inline-flex */
}