.form-group {
    margin-bottom: 1rem;
}
.project{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 4px;
    background-color: #242424;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.3s ease, opacity 0.3s ease; /* Transition effect */
}

.project:hover {
    border-bottom: 3px solid #ccc; /* Hover state */
    opacity: 1; /* Increase opacity on hover */
}

.project button {
    margin: 0.5rem;
}

.formi-control {
    text-align: start;
    height: 30rem;
    width: 95%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #242424;
    margin:1rem;
    color: white;
}

.desc{
    background-color: #242424;
    color: white;
    border: none;
    width: 100%;
}

.maxW{
    max-width: 100%;
    max-height: 20px;
    overflow: hidden;
}
