/* Set the footer to fixed position at the bottom of the page */
.bottom {
    width: 100%;
    background-color: #101010;
    text-align: center;
    color: rgb(173, 170, 170);

    position: absolute;
    width: 100%;
    height: 10rem;            /* Footer height */
    bottom: -10rem;
}

.wrapper {
    position: relative;
    min-height: 100vh;
  }

/* Additional styling for links inside the footer */
.links {
    margin-top: 1rem;
}

.bottom a {
    color: rgb(173, 170, 170);
}
