
.question {
    background-color: hsl(0, 0%, 7%);
    border-radius: 5px;
    width: 70rem;
    position: relative; 
}

.question:hover {
    background-color: hsl(0, 0%, 1%);
}

.question-p {
    padding: 1rem;
}

.question-counter {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.question-btm-info {
    color: grey;
    font-size: small;

    margin-top: -2rem;
    margin-left: 1rem;;
    height: 2rem;
}

