.top-bar {
  background-color: #333; /* Dark gray background */
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  text-align: center;
  margin: auto 10px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s, font-size 0.3s; /* Smooth transition for color and font size */
}

nav ul li a:hover {
  color: rgb(233, 166, 52);
  font-size: 1.1rem; /* Make the font size bigger on hover */
}

.link-i-a {
  vertical-align: top;
  display: inline-block;
  margin-left: 0.5rem;
}



.profile {
  display: flex;
  align-items: center;
  position: relative; /* Required for positioning dropdown content */
}

.profile-pic {
  margin-bottom: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%; /* Make the image round */
}

.account-prev{
  margin: auto 10px;
}

.logout-button {
  background-color: #ff4d4d; /* Red background */
  color: white; /* White text */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.logout-button:hover {
  background-color: #ff1a1a; /* Darker red on hover */
  transform: scale(1.05); /* Slightly increase size on hover */
}

.profile-li{
  margin: auto 10px;
}
