.bottom {
    background-color: #101010;
    text-align: center; /* Center align the content inside the .bottom container */
    color: rgb(173, 170, 170);
}

/* Make CreateLink components inline */
.inline > * {
    display: inline-block; /* or inline-flex */
}

.links {
    margin-top: 1rem;
}

.bottom a {
    color: rgb(173, 170, 170);
}