
details {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    transition: transform 0.3s ease;
}

summary {
    font-weight: bold;
    cursor: pointer;
}

.search-bar {
    background-color: #f2f2f2; /* Light grey background color */
    border-radius: 5px; /* Rounded corners */
    padding: 10px; /* Padding around the input */
    width: 100%;
}

.search-bar input[type="text"] {
    border: none; /* No border */
    background-color: transparent; /* Transparent background */
    font-size: 16px; /* Font size */
    color: #333; /* Text color */
    outline: none; /* No outline */
}

.search-bar input[type="text"]::placeholder {
    color: #999; /* Placeholder color */
}

details {
    margin-bottom: 1.2rem;
}

.docs h1 {
    text-align: center ;
}

details:hover {
    transform: scale(1.005);
}

details {
    background-color: #1b1a1a;
}

/* doc.tsx */

.docu-desc {
    margin-left: 2rem;
}

/* syntax.tsx */

.syntax {
    border: 2px solid black;
    margin-left: 2rem;
    margin-right: 2rem;
}
